<div class="editForm_halfWidth_L">
    <span ng-hide="true"> oZone_inf: {{oZone_inf}} <br> </span>

    <div class="applGridContainer" ng-repeat=" oZone_inf_appl_type in oZone_inf track by $index">
        <h4>{{oZone_inf_appl_type[0].appl_type}} </h4>
        <div class="applGridDetailContainer"
             ng-repeat="dataItem in oZone_inf[oZone_inf_appl_type[0].appl_type] track by $index">
            <div class="button_container">
                <span style="font-size:20px">{{dataItem.appl_name}}</span><br>
                <button kendo-button ng-click="show_info(dataItem)">
                    <img class="k-image" src="resources/img/info-2-128_grey.gif" alt="INF" height="128" width="128" />
                </button>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="editForm_halfWidth_R" style="height:auto">
    <h4>Appliance Information</h4>
    <span ng-hide="true">{{selected_appl_ref.appl_name}}</span>
    <span ng-hide="true">{{selected_appl}}<br></span>
    <ul>
        <li>
            <label>
                <span class="label required" style="font-size:12px">Required Fields</span>
            </label>
        </li>
        <li> <label> <span class="label"> </span> </label> </li>
        <li>
            <label>
                <span class="label required">Appliance name:</span>
                <input id="field_applname" class="k-textbox" ng-model="selected_appl.appl_name" placeholder="Applicance Name"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">Appliance type:</span>
                <input id="field_appltype" class="k-textbox" ng-model="selected_appl.appl_type" placeholder="Applicance Type"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">Control coil in PLC:</span>
                <input 
                       kendo-numeric-text-box 
                       k-options="applindexNumericTextBoxOptions" k-rebind="applindexNumericTextBoxOptions" 
                       k-ng-model="selected_appl.appl_index" 
                       required />
            </label>
        </li>
        <li> <label> <span class="label"></span> </label> </li>
        <li>
            <label>
                <span ng-hide="true" class="label" style="font-size:12px;width:15em">Select appliance before Delete!</span>
            </label>
        </li>
        <li> <label> <span class="label"></span> </label> </li>
        <li>
            <div class="edit-buttons" ng-show="show_system_admin">
                <a class="k-button k-button-icontext k-add-button" ng-click="Modify_Appliance('applDetailGrid', 'c')"><span class="k-icon k-add"></span>Add</a>
                <a class="k-button k-button-icontext k-edit-button" ng-click="Modify_Appliance('applDetailGrid', 'u')"><span class="k-icon k-edit"></span>Edit</a>
                <a class="k-button k-button-icontext k-delete-button" ng-click="Modify_Appliance('applDetailGrid', 'd')"><span class="k-icon k-delete"></span>Delete</a>
            </div>
        </li>
    </ul>
</div>