<div> <span>&nbsp;</span> </div>
<div class="header_section1" ng-hide="Alarm_Status&&Alarm_Status.length>0">
    <img class="header_img" src="resources/img/puiching_logo1.png" alt="Logo">
    <span class="header_text"> Pui Ching Building Automation Web Console </span>
</div>
<div class="header_section_alarm" ng-show="Alarm_Status&&Alarm_Status.length>0">
    <img class="header_img" src="resources/img/warning-6-64_white.gif" alt="Alarm_Logo">
    <span class="header_text_alarm"> {{Alarm_Status}} </span>
</div>
<div> <span>&nbsp;</span> </div>