<div style="margin: 20px 20px 20px 20px">
    <button kendo-button id="applScheduler_toPLC_top" enable="true"
            ng-click="applScheduler_pushtoPLC()">
        Upload to PLC ( {{oZone_DBinf.zoneId}} )
    </button>
    <span ng-hide="true" style="padding: 10px 10px 10px 10px">Currently selecting: {{oZone_DBinf.siteId}}, {{oZone_DBinf.zoneId}}</span>
    <span ng-hide="true" style="margin-left:4em">This Scheduler connects to server only. Press the "Upload" button to update PLC registers.</span>
    <label>
        <span style="margin-left:4em">Schedule default:</span>
        <select kendo-drop-down-list="ScheduleDefaultDropDownList_Sch" id="ScheduleDefaultDropDownList_Sch"
                k-options="ScheduleDefaultDropDownListOptions" k-rebind="ScheduleDefaultDropDownListOptions"
                k-ng-delay="ScheduleDefaultDropDownListOptions.dataSource"
                name='default_id' ng-model="oZone_DBinf.default_id" required style="width:240px"
                data-required-msg="Please select {0}"></select>
        <span class="k-invalid-msg" data-for="oZone_DBinf.default_id"></span>
    </label>

    <div kendo-scheduler="applScheduler" id="applScheduler"
         k-options="applSchedulerOptions(dataItem)"
         k-ng-delay="applSchedulerOptions(dataItem).dataSource"
         style="margin-top: 20px">
    </div>
</div>