<div style="margin: 10px 10px 10px 10px" ng-hide="true"><span>PLC 狀況: </span><span class="{{mqtt_status.css}}"> {{mqtt_status.msg}} </span> </div><br>
<span ng-hide="true"> oZone_inf: {{oZone_inf}} <br> </span>
<table class="gauges-container">
    <tr>
        <td ng-repeat="oZone_inf_appl_type in oZone_inf.sensor track by $index">
            <span style="margin: 0 8px 8px 0">{{oZone_inf_appl_type[0].appl_type}}</span><br>
        </td>
    </tr>
    <tr>
        <td ng-repeat="oZone_inf_appl_type in oZone_inf.sensor track by $index">
            <div class="applGridDetailContainer" ng-repeat="dataItem in oZone_inf_appl_type track by $index">
                <div style="padding-top:8px">
                    <div class="temp-gauge-container" ng-show="dataItem.appl_type == 'Temperature'">
                        <span kendo-lineargauge class="temp-gauge"
                              k-options="temperatureLinearGaugeOptions" 
                              ng-model="dataItem.value"></span>
                    </div>
                    <div class="humid-gauge-container" ng-show="dataItem.appl_type == 'Humidity'">
                        <span kendo-radialgauge class="humid-gauge"
                              k-options="humidityRadialGaugeOptions"
                              ng-model="dataItem.value"></span>
                    </div>
                    
                    <div class="PM25-gauge-container" ng-show="dataItem.appl_type == 'PM2.5'">
                        <span kendo-radialgauge class="PM25-gauge"
                              k-options="gasRadialGaugeOptions"
                              ng-model="dataItem.value"></span>
                    </div>
                    
                    <div class="PM10-gauge-container" ng-show="dataItem.appl_type == 'PM10'">
                        <span kendo-radialgauge class="PM10-gauge"
                              k-options="gasRadialGaugeOptions"
                              ng-model="dataItem.value"></span>
                    </div>
                    
                     <div class="VOC-gauge-container" ng-show="dataItem.appl_type == 'VOC'">
                        <span kendo-radialgauge class="VOC-gauge"
                              k-options="co2RadialGaugeOptions"
                              ng-model="dataItem.value"></span>
                    </div>                   
                    
                    <span>{{dataItem.appl_name}}:</span>
                    <span ng-show="dataItem.appl_type == 'Temperature'">{{dataItem.value}}°C</span>
                    <span ng-show="dataItem.appl_type == 'Humidity'">{{dataItem.value}}%</span>
                    <span ng-show="dataItem.appl_type == 'PM2.5'">{{dataItem.value}}μg/m³</span>
                    <span ng-show="dataItem.appl_type == 'PM10'">{{dataItem.value}}μg/m³</span>
                    <span ng-show="dataItem.appl_type == 'VOC'">{{dataItem.value}}ppm</span>
	
                </div>
            </div>
        </td>

    </tr>
</table>