﻿<div id="kendo_menu">
    <div id="menu_head_text"> PLC 控制台 </div>
</div>

<div style="margin: 4px;">
    <span>Web socket: </span><br>
    <span class="{{mqtt_status.css}}"> {{mqtt_status.msg}} </span>
</div><br>

<div kendo-tree-view="sideTree" id="sideTree"
     k-options="sideTreeOptions" k-rebind="sideTreeOptions"
     k-on-change="KendoTreeView_Side_onChange(dataItem)"
     k-ng-delay="sideTreeOptions.dataSource"
     ng-click="KendoTreeView_Side_onClick($event)">
</div>

<div id="aboutWindow"
     kendo-window="aboutWindow"
     k-options="aboutWindowOptions"
     k-rebind="aboutWindowOptions">
    <span>Pui Ching PLC Control Web Console v1.0</span>
    <br />
    <button kendo-button ng-click="aboutWindow.close()">OK</button>
</div>