<span ng-hide="true"> oZone_DBinf: {{oZone_DBinf}} <br> </span>
<form kendo-validator="editZoneValidator" id="editZoneValidator" class="editForm_fullWidth" ng-submit="oZone_DBinf_validate($event, 'u')">
    <ul>
        <li> <label> <span class="label"> </span> </label> </li>
        <li>
            <label>
                <span class="label required" style="font-size:12px">Required Fields</span>
            </label>
        </li>
        <li>
            <h4>Global Information</h4>
        </li>
        <li>
            <label>
                <span class="label required">Site ID:</span>
                <input id="field_siteId" class="k-textbox" ng-model="oZone_DBinf.siteId" placeholder="Site ID"
                       disabled required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">MQTT Tag:</span>
                <input id="field_mqtttag" class="k-textbox" ng-model="oZone_DBinf.mqtt_tag" placeholder="MQTT Tag"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <h4>Client Device Information</h4>
        </li>
        <li>
            <label>
                <span class="label required">Client Device ID:</span>
                <input id="field_clientid" class="k-textbox" ng-model="oZone_DBinf.client_id" placeholder="Client Device ID"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">Client Device Name:</span>
                <input id="field_clientname" class="k-textbox" ng-model="oZone_DBinf.client_name" placeholder="Client Device Name"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">Client Device Type:</span>
                <input id="field_clienttype" class="k-textbox" ng-model="oZone_DBinf.client_type" placeholder="Client Device Type"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">IP Address of Client Device:</span>
                <input id="field_clientip" class="k-textbox" ng-model="oZone_DBinf.ip_addr" placeholder="IP Address"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">MAC Address of Client Device:</span>
                <input id="field_clientmac" class="k-textbox" ng-model="oZone_DBinf.mac" placeholder="MAC Address"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <h4>Zone Information</h4>
        </li>
        <li>
            <label>
                <span class="label required">Zone ID:</span>
                <input id="field_zoneId" class="k-textbox" ng-model="oZone_DBinf.zoneId" placeholder="Zone ID"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">Tower Number:</span>
                <input id="field_tower" class="k-textbox" ng-model="oZone_DBinf.tower" placeholder="Tower"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">Floor Number:</span>
                <input id="field_tower" class="k-textbox" ng-model="oZone_DBinf.floor" placeholder="Floor"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <label>
                <span class="label required">Zone description:</span>
                <input id="field_desc" class="k-textbox" ng-model="oZone_DBinf.desc" placeholder="Zone description"
                       required validationmessage="Please enter {0}" />
            </label>
        </li>
        <li>
            <h4>Schedule Information</h4>
        </li>
        <li>
            <label>
                <span class="label required">Schedule default:</span>
                <select kendo-drop-down-list="ScheduleDefaultDropDownList_Edit" id="ScheduleDefaultDropDownList_Edit"
                        k-options="ScheduleDefaultDropDownListOptions" k-rebind="ScheduleDefaultDropDownListOptions"
                        k-ng-delay="ScheduleDefaultDropDownListOptions.dataSource"
                        name='default_id' ng-model="oZone_DBinf.default_id" required style="width:240px"
                        data-required-msg="Please select {0}"></select>
                <span class="k-invalid-msg" data-for="oZone_DBinf.default_id"></span>
            </label>
        </li>
        <li>
            <label>
                <span class="label"></span>
            </label>
        </li>
        <li>
            <label>
                <span ng-hide="true" class="label" style="font-size:12px;width:15em">For Delete, just click the button. Modifying has no effect for the deletion.</span>
            </label>
        </li>
        <li>
            <div class="edit-buttons" ng-show="show_system_admin">
                <button type="submit" class="k-button k-button-icontext k-edit-button">
                    <span class="k-icon k-edit"></span>Edit
                </button>
                <a ng-click="Modify_Appliance('applGrid','d')" class="k-button k-button-icontext k-delete-button">
                    <span class="k-icon k-delete"></span>Delete
                </a>
            </div>
        </li>
    </ul>
</form>