﻿<div class="chartGroup">
    <div class="map_nav_bar_toggle" ng-show="show_map_nav_bar_PU" ng-click="show_map_nav_bar_PU=false;">▲</div>
    <div class="map_nav_bar_toggle" ng-hide="show_map_nav_bar_PU" ng-click="show_map_nav_bar_PU=true;">▼</div>
    <div class="map_nav_container" ng-show="show_map_nav_bar_PU">

        <table class="map_nav_bar" id="Graph_NavBar_KC_PowerUsage">

            <tr>
                <td><span style="width: 12em">Toilet: </span></td>
                <td><span style="width: 8em">Start: </span></td>
                <td><span style="width: 8em">End: </span></td>
                <td><span>Interval: </span></td>
                <td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <select kendo-drop-down-list id="KDDL_KC_PU_Zone" k-options="Options_KDDL_KC_PU_Zone" k-rebind="Options_KDDL_KC_PU_Zone"
                            k-ng-delay="Options_KDDL_KC_PU_Zone.dataSource"
                            ng-model="Selected_KDDL_KC_PU_Zone" style="width:12em;"></select>
                </td>
                <td>
                    <input kendo-date-picker id="KDP_KC_PowerUsage_S" k-options="Options_KendoDatePicker(0,0)" k-rebind="Options_KendoDatePicker(0,0)" style="width: 9em" />
                    <input kendo-time-picker id="KTP_KC_PowerUsage_S" k-options="Options_KendoTimePicker(0,0)" k-rebind="Options_KendoTimePicker(0,0)" style="width: 6.5em" />
                </td>
                <td>
                    <input kendo-date-picker id="KDP_KC_PowerUsage_E" k-options="Options_KendoDatePicker(0,1)" k-rebind="Options_KendoDatePicker(0,1)" style="width: 9em" />
                    <input kendo-time-picker id="KTP_KC_PowerUsage_E" k-options="Options_KendoTimePicker(0,1)" k-rebind="Options_KendoTimePicker(0,1)" style="width: 6.5em" />
                </td>
                <td>
                    <select kendo-drop-down-list id="KDDL_KC_PU_Interval" k-options="Options_KDDL_KC_PU_Interval" k-rebind="Options_KDDL_KC_PU_Interval"
                            k-ng-delay="Options_KDDL_KC_PU_Interval.dataSource"
                            ng-model="Selected_KDDL_KC_PU_Interval" style="width:8em;"></select>
                </td>
                <td><button kendo-button ng-click="Set_Filter_Time(0)">View</button> </td>
                <td><button kendo-button ng-click="Clear_Filter_Time(0)">Clear</button></td>
                <td><button kendo-button ng-click="Export_To_IMG(0)">Export To Image</button></td>
                <td><button kendo-button ng-click="Export_To_XLSX(0)">Export To Excel</button><span id="Queue_Excel_KC_PU"></span></td>
            </tr>

        </table>

    </div>

    <div id="LoadingBar_PowerUsage">LOADNIG...</div>

    <div kendo-chart="KendoLineChart_PowerUsage" id="KendoLineChart_PowerUsage"
         k-options="Options_KendoLineChart_PowerUsage(oZone_DBinf)" 
         k-ng-delay="Options_KendoLineChart_PowerUsage(oZone_DBinf).dataSource">
    </div>

</div>