@font-face {
    font-family: digi;
    src: url('/resources/font/digital-7.ttf');
}

.main_Box {
    display: inline-block;
    text-align: center;
    /* background-color: #ebebeb; */
    width: 450px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #999999;
    border-radius: 6px;
    box-shadow: 5px 5px 7px #888888;
    margin: 1em;
    padding-bottom: 20px;
}

.AC_Name {
    font-size: 30px;
    text-align: left;
    padding-top: 24px;
    /*padding-left: 20px;
    display: inline; */
}

.AC_Off {
    color: #999999;
}

.AC_On {
    color: #ff6a00;
}

.button_Off {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    border-radius: 35px;
    box-shadow: 0 0 9px #888888;
    margin-left: 25px;
    margin-top: 18px;
    /*padding-top: 17px;*/
    background-image: url('/resources/img/power_off.png');
    background-repeat: no-repeat;
    background-position: center;
}

.button_On {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 1px;
    border-color: #d45800;
    border-radius: 35px;
    box-shadow: 0 0 9px #ff6a00;
    margin-left: 25px;
    margin-top: 18px;
    /*padding-top: 17px;*/
    background-image: url('/resources/img/power_on.png');
    background-repeat: no-repeat;
    background-position: center;
}

.temp_Button {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: auto;
}

    .temp_Button img {
        padding-top: 12px;
    }

.red_Shade {
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    border-radius: 30px;
    box-shadow: 0 0 9px #fa4646;
}

.blue_Shade {
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    border-radius: 30px;
    box-shadow: 0 0 9px #2c91cd;
}


.temp_Num {
    display: inline;
    font-family: digi;
    font-size: 100px;
}

.temp_Slider {
    width: 400px
}

/*
.temp_label {
    margin-top: -15px;
}
*/

.toggle_Icon {
    display: inline;
    float: right;
    padding-right: 2em;
}

.option_Title {
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.option_Area {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;   
}

.option {
    margin: 0.5em;
    padding: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    border-radius: 4px;
    text-align: center;
}

.unselect {
    border-color: #555555;
    box-shadow: 0 0 9px #888888;
}

.selected {
    border-color: #39ae07;
    box-shadow: 0 0 9px #b6ff00;
}

.acdrink_table {
    width: 100%;
    font-weight: normal;
}

    .acdrink_table td {
        margin: 8px;
        font-weight: normal;
        height: 32px;
        text-align: center;
    }

.error_img {
    width: 400px;
    height: auto;
    margin: 10px;
}