.header_section1 {
    height: 99%;
    margin: 4px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.header_img {
    height: 90%;
    width: auto;
}

.header_text {
    font-size: 2em;
    color: white;
    font-weight: bold;
    margin-left: 1em;
}

.header_section_alarm {
    height: 99%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background: red;
    padding-left: 3em;
    padding-right: 3em;
}

.header_text_alarm {
    font-size: 2em;
    color: white;
    font-weight: bold;
    margin-left: 1em;
}