.map_nav_bar_toggle {
    width: 100%;
    height: 3%;
    font-size: 0.75em;
    text-align: center;
    background: #428bca;
}

.map_nav_container {
    background: #ebebeb;
}

.map_nav_bar {
    font-size: 0.75em;
}

    .map_nav_bar td {
        margin: 8px;
    }