#kendo_menu {
    height: 10%;
    background: #888888;
    /* border: 1px solid #000; */
    /* margin: 5px 5px 5px 5px; */
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#sideTree {
    padding-top: 5%;
}

#menu_head_text {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
}

#aboutWindow {
    text-align: center;
    font-size: 1.25em;
}