﻿<!DOCTYPE html>
<html>
<head>
    <!-- Meta session. Remove if don't use Bootstrap -->
    <meta charset="utf-8">
    <link rel="icon" href="resources/favicon.ico">
    <!-- Wrote for David-->
    <title>Login page</title>
    <!-- CSS Style section (Just simple mod for very basic readable UI) -->
    <style>
        html {
            background: #ebebeb;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            position: relative;
            /* top right bottom left */
            padding: 0 0 0 0;
            /* background: #888888; */
            text-align: center;
        }

        #failmsg_container {
            margin: 5px 5px 5px 5px;
            display: flex;
            justify-content: center; /* align horizontal */
        }

        #header {
            /* border: 1px solid #000; */
            /* height: 10%; */
            /* background: #888888; */
            /* border: 1px solid #000; */
            /* margin: 5px 5px 5px 5px; */
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
            /*overflow: scroll;*/
        }

        #header_img {
            height: 80px;
            width: auto;
            resize: both;
        }

        #header_text {
            margin: 5px 5px 5px 2em;
            font-size: 16px;
            font-weight: bold;
            /* color: white; */
        }
    </style>
    <!-- CSS link section -->
    <link rel="stylesheet" href="resources/libraries/KendoUI/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="resources/libraries/KendoUI/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="resources/libraries/KendoUI/styles/kendo.bootstrap.mobile.min.css" />
    <!-- Script Library section (using AngularJS with jQuery and MQTT web socket, call API when retriving data) -->
    <script type="text/javascript" src="resources/libraries/KendoUI/js/jquery.min.js"></script> <!-- v1.12.3 -->
    <script type="text/javascript" src="resources/libraries/KendoUI/js/angular.min.js"></script> <!-- v1.4.6 -->
    <script type="text/javascript" src="resources/libraries/KendoUI/js/jszip.min.js"></script>
    <script type="text/javascript" src="resources/libraries/KendoUI/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="resources/libraries/KendoUI/js/cultures/kendo.culture.zh-HK.min.js"></script>
    <script type="text/javascript" src="resources/libraries/KendoUI/js/messages/kendo.messages.zh-HK.min.js"></script>
    <script type="text/javascript" src="resources/libraries/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="resources/libraries/amcharts/serial.js"></script>
    <script type="text/javascript" src="resources/libraries/amcharts-angular/amChartsDirective.js"></script>
    <!-- Custom Scripts (Some in head section, some in body section) -->
    <script type="text/javascript" src="web_console/control/scope_controller.js"></script>
</head>
<body ng-app="homeScript" ng-controller="LoginCtrl">
    <div class="container">
        <br> <br> <br>
        <div id="header">
            <img id="header_img" src="resources/img/puiching_logo1.png" alt="Logo">
            <div id="header_text"> <h1> Pui Ching PLC Control Web Console </h1> </div>
        </div>
        <span id="notification"></span>
        <div id="failmsg_container" ng-show="<%= failed %>"> </div>
        <div style="width:100%">
            <div style="width:120px;display: inline-block">
                <span>User ID:</span>
            </div>
            <input style="display: inline-block" id="field_name" type="text" class="k-textbox" ng-model="ui_username" name="username" required="required" />
        </div>
        <br>
        <div style="width:100%">
            <div style="width:120px;display: inline-block" >
                <span>Password:</span>
            </div>
            <input style="display: inline-block" id="field_pwd" type="password" class="k-textbox" ng-model="ui_password" name="password" required="required" />
        </div>
        <form id="login_form" action="/login" method="post">
            <input id="hidden_name" type="hidden" class="k-textbox" name="username" required="required" />
            <input id="hidden_pwd" type="hidden" class="k-textbox" name="password" required="required" />
            <button style="margin:24px" type="submit" kendo-button ng-click="login(username, password)">Login</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            console.log("HTML loaded");
            $("#login_form").submit(function () {
                $('#hidden_name').val($('#field_name').val());
                $('#hidden_pwd').val($('#field_pwd').val());
            });
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    $('#hidden_name').val($('#field_name').val());
                    $('#hidden_pwd').val($('#field_pwd').val());
                    $("#login_form").trigger("submit");
                    //console.log('You pressed enter!');
                }
            });
            var notificationWidget = $("#notification")
                .kendoNotification({
                    appendTo: "#failmsg_container",
                    autoHideAfter: 0,
                    width: "20em"
                })
                .data("kendoNotification");
            notificationWidget.show("User Name or Password is incorrect", "error");
        });
    </script>
</body>
</html>
